.headerback {
  /* border: 2px solid red; */
  /* background-image: url(../images/header.webp); */
  /* background-image: url(../images/worldmap3.jpg) ; */
  background-repeat: no-repeat;
  background-size: cover;
  /*  */
  height: 250px;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  /* padding: 4em 0em; */
  text-align: center;
  margin: 101px 0 0 0;
}

.heading {
  /* border: 2px solid red; */
  /* padding: auto 0em; */
  text-align: center;
  height: 200px;
  /* background-color:rgba(15, 22, 30, 0.463) ; */
  color: white;
  /* justify-items: center; */
  font-size: 1.5rem;
}

.heading h2 {
  /* border: 2px solid green ; */
  position: relative;
  top: 75px;
  margin: auto 0px;
  width: 100%;
}

.text {
  /* border: 2px solid red; */
  padding: 5em;
  line-height: 2rem;
}

.waveimg {
  /* border: 2px solid red; */
  /* position: relative; */
  height: 100px;
  position: absolute;
  top: 270px;
  width: 100%;
  object-fit: cover;
  /* top: 210px; */
  /* height: 100px; */
}

.calcdiv1 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-around;
}

.topimg {
  /* border: 2px solid red; */
  width: 100%;
}

.calcheading {
  /* border: 2px solid red; */
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  width: fit-content;
  margin: 0 auto;
  padding: 1em 0.5em 0 0.5em;
}
.calcheading:after {
  content: "";
  display: block;
  position: relative;
  width: 80%;
  /* border: 1px solid rgb(51, 51, 51); */
  border: 1px solid rgb(0, 175, 239);
  margin: 8px auto;
}
@media only screen and (min-width: 700px) {
  .calcdiv1 {
    display: flex;
    padding: 0 1em;
    flex-direction: column;
  }

  .calcheading {
    /* border: 2px solid red; */
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1em 0.5em 0 0.5em;
  }
}

@media (min-width: 1000px) {
  .calcdiv1 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    padding: 0em 1em 1em 1em;
    justify-content: space-around;
  }

  .calcheading {
    /* border: 2px solid red; */
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1em 0.5em 0 0.5em;
    width: fit-content;
    margin: 0 auto;
  }

  #sipheading {
  }

  #lumpsumheading {
  }
}
