
.MuiSlider-thumb{
    color: rgb(25, 118, 210);
    /* transition: none; */
    /* border: 2px solid red; */
    transition: box-shadow 150ms cubic-bezier(0.9, 0, 0.9, 1) 0ms;
}
.MuiSlider-rail{
    color: rgb(25, 118, 210);
}
.MuiSlider-mark{
    color: rgb(25, 118, 210);
}
.MuiSlider-track{
    color:rgb(25, 118, 210);
}
.MuiSlider-thumb::after {
    
    /* border: 2px solid red; */
    /* background-color:rgba(11, 135, 63, 0.292); */
    background-color: transparent;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    content: "";
    position: absolute;
    border-radius: 50%;
}
.MuiSlider-thumbColorSecondary.MuiSlider-active{
    box-shadow: 0px 0px 0px 8px rgb(63 81 181 );
    /* box-shadow: none; */
}
.Mui-focusVisible{
    outline: none;
}
.inputWithRupee{
    display: flex;
    align-items: flex-start;
    /* border: 2px solid red; */
}

.Rupee{
    padding: 0 0.5em;
}
.MuiInput-underline::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: transparent;
    pointer-events: none;
}
.MuiInput-underline::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 7px solid rgb(17, 203, 95);
    pointer-events: none;
    transition: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.title0{
    /* border: 2px solid red; */
    padding: 0.5em 0;
    font-size: 1.1rem;
    color: rgb(68, 71, 91);
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.box0{
 /* border: 2px solid red; */
 width: 100%;
 margin: 0 auto;
 padding: 0em 1em;

}
.head0{
 /* border: 2px solid red; */
 width: 100%;
 margin: 0 auto;
 padding: 0em 1em;
 display: flex;
 justify-content: space-between;
}

.card0{
    /* border: 2px solid black; */
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em auto;
}

.sec10{
    /* border: 2px solid green; */
    padding: 0.5em 0;
}
.output0{
    /* border: 2px solid black; */
    width: 100%;
    margin: 0 auto;
}

.out0{
    /* border: 2px solid green; */
    padding: 0.7em 1em;
    display: flex;
    justify-content: space-between;
    color: rgb(132, 133, 137);
}
.out20{
    /* color: black; */
}
.title0:hover{
    cursor: pointer;
}
@media only screen and (min-width: 700px) {
    .card0{
        /* border: 2px solid black; */
        width: 70%;
        margin: 0 auto;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 1em auto;
    }
     
.title0{
    /* border: 2px solid red; */
    padding: 0.5em 0;
    font-size: 1.2rem;
    color: rgb(68, 71, 91);
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.box0{
 /* border: 2px solid red; */
 width: 70%;
 margin: 0 auto;
 padding: 0em 1em;

}
.head0{
 /* border: 2px solid red; */
 width: 70%;
 margin: 0 auto;
 padding: 0em 1em;
 display: flex;
 justify-content: space-between;
}
.sec10{
    /* border: 2px solid green; */
    padding: 0.5em 0;
}
.output0{
    /* border: 2px solid black; */
    width: 60%;
    margin: 0 auto;
}

.out0{
    /* border: 2px solid green; */
    padding: 0.7em 1em;
    display: flex;
    justify-content: space-between;
    color: rgb(132, 133, 137);
}
.out20{
    /* color: black; */
}
.title0:hover{
    cursor: pointer;
}
}
@media only screen and (min-width: 1000px) {
    
.title0{
    /* border: 2px solid red; */
    padding: 0.5em 0;
    font-size: 1rem;
    color: rgb(68, 71, 91);
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.box0{
 /* border: 2px solid red; */
 width: 90%;
 margin: 0 auto;
 padding: 0em 1em;

}
.head0{
 /* border: 2px solid red; */
 width: 90%;
 margin: 0 auto;
 padding: 0em 1em;
 display: flex;
 justify-content: space-between;
}
.sec10{
    /* border: 2px solid green; */
    padding: 0.5em 0;
}
.output0{
    /* border: 2px solid black; */
    width: 90%;
    margin: 0 auto;
}

.out0{
    /* border: 2px solid green; */
    padding: 0.7em 1em;
    display: flex;
    justify-content: space-between;
    color:  rgb(84, 94, 111);
    font-weight: 500;
}
.out20{
    color: black;
}
    .card0{
        /* border: 2px solid black; */
        align-self: flex-start;
        width: 80%;
        margin: 0 auto;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 1em auto;
    }
    .react-card-flip{
        /* border: 2px solid black; */
        width: 100%;
        align-self: flex-start;
    }
    .title0:hover{
        cursor: pointer;
    }
}